@font-face {
  font-family: 'micons';
  src:  url('fonts/micons.eot?ar3h7q');
  src:  url('fonts/micons.eot?ar3h7q#iefix') format('embedded-opentype'),
    url('fonts/micons.ttf?ar3h7q') format('truetype'),
    url('fonts/micons.woff?ar3h7q') format('woff'),
    url('fonts/micons.svg?ar3h7q#micons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="micons-"], [class*=" micons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'micons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.micons-left-right:before {
  content: "\e900";
}
.micons-show-sidebar-vert:before {
  content: "\e901";
}
.micons-up-down:before {
  content: "\e902";
}
.micons-car:before {
  content: "\e903";
}
.micons-file-remove:before {
  content: "\e904";
}
.micons-hide-sdebar-vert:before {
  content: "\e905";
}
.micons-hide-sidebar-horiz:before {
  content: "\e906";
}
.micons-show-sidebar-horiz:before {
  content: "\e907";
}
.micons-file-add:before {
  content: "\e908";
}
.micons-flag:before {
  content: "\e909";
}
.micons-logout:before {
  content: "\e90a";
}
.micons-rotate-clock:before {
  content: "\e90b";
}
.micons-rotate-counter:before {
  content: "\e90c";
}
.micons-tie:before {
  content: "\e90d";
}
.micons-loading:before {
  content: "\e90e";
}
.micons-margin:before {
  content: "\e90f";
}
.micons-megaphone:before {
  content: "\e910";
}
.micons-newspaper:before {
  content: "\e911";
}
.micons-padding:before {
  content: "\e912";
}
.micons-left:before {
  content: "\e913";
}
.micons-mouse:before {
  content: "\e914";
}
.micons-signal:before {
  content: "\e915";
}
.micons-table:before {
  content: "\e916";
}
.micons-up:before {
  content: "\e917";
}
.micons-at:before {
  content: "\e918";
}
.micons-pin-point:before {
  content: "\e919";
}
.micons-syringe:before {
  content: "\e91a";
}
.micons-umbrella:before {
  content: "\e91b";
}
.micons-glasses:before {
  content: "\e91c";
}
.micons-menu-circle-dots:before {
  content: "\e91d";
}
.micons-projector:before {
  content: "\e91e";
}
.micons-shield:before {
  content: "\e91f";
}
.micons-text:before {
  content: "\e920";
}
.micons-info:before {
  content: "\e921";
}
.micons-question:before {
  content: "\e922";
}
.micons-redo:before {
  content: "\e923";
}
.micons-tv:before {
  content: "\e924";
}
.micons-cup:before {
  content: "\e925";
}
.micons-glass:before {
  content: "\e926";
}
.micons-juice:before {
  content: "\e927";
}
.micons-mug:before {
  content: "\e928";
}
.micons-shapes:before {
  content: "\e929";
}
.micons-undo:before {
  content: "\e92a";
}
.micons-circle-bottom-left:before {
  content: "\e92b";
}
.micons-circle-bottom-right:before {
  content: "\e92c";
}
.micons-circle-top-left:before {
  content: "\e92d";
}
.micons-share:before {
  content: "\e92e";
}
.micons-target:before {
  content: "\e92f";
}
.micons-circle-down:before {
  content: "\e930";
}
.micons-circle-left:before {
  content: "\e931";
}
.micons-circle-right:before {
  content: "\e932";
}
.micons-circle-top-right:before {
  content: "\e933";
}
.micons-circle-up:before {
  content: "\e934";
}
.micons-artboard:before {
  content: "\e935";
}
.micons-bucket:before {
  content: "\e936";
}
.micons-education:before {
  content: "\e937";
}
.micons-lamp:before {
  content: "\e938";
}
.micons-objects:before {
  content: "\e939";
}
.micons-align-justify:before {
  content: "\e93a";
}
.micons-align-right:before {
  content: "\e93b";
}
.micons-link:before {
  content: "\e93c";
}
.micons-network:before {
  content: "\e93d";
}
.micons-quote:before {
  content: "\e93e";
}
.micons-shuffle:before {
  content: "\e93f";
}
.micons-align-center:before {
  content: "\e940";
}
.micons-align-left:before {
  content: "\e941";
}
.micons-eject:before {
  content: "\e942";
}
.micons-full-screen:before {
  content: "\e943";
}
.micons-small-screen:before {
  content: "\e944";
}
.micons-fast-forward:before {
  content: "\e945";
}
.micons-next:before {
  content: "\e946";
}
.micons-pause:before {
  content: "\e947";
}
.micons-record:before {
  content: "\e948";
}
.micons-stop:before {
  content: "\e949";
}
.micons-backward:before {
  content: "\e94a";
}
.micons-cursor:before {
  content: "\e94b";
}
.micons-frame:before {
  content: "\e94c";
}
.micons-play:before {
  content: "\e94d";
}
.micons-previous:before {
  content: "\e94e";
}
.micons-box:before {
  content: "\e94f";
}
.micons-sign:before {
  content: "\e950";
}
.micons-toggles:before {
  content: "\e951";
}
.micons-truck:before {
  content: "\e952";
}
.micons-warning:before {
  content: "\e953";
}
.micons-building:before {
  content: "\e954";
}
.micons-chat:before {
  content: "\e955";
}
.micons-factory:before {
  content: "\e956";
}
.micons-light-bulb:before {
  content: "\e957";
}
.micons-sliders:before {
  content: "\e958";
}
.micons-wrench:before {
  content: "\e959";
}
.micons-battery-high:before {
  content: "\e95a";
}
.micons-battery-low:before {
  content: "\e95b";
}
.micons-gift:before {
  content: "\e95c";
}
.micons-tube:before {
  content: "\e95d";
}
.micons-update:before {
  content: "\e95e";
}
.micons-book:before {
  content: "\e95f";
}
.micons-cube:before {
  content: "\e960";
}
.micons-disk:before {
  content: "\e961";
}
.micons-floppy:before {
  content: "\e962";
}
.micons-life-buoy:before {
  content: "\e963";
}
.micons-euro:before {
  content: "\e964";
}
.micons-folder-add:before {
  content: "\e965";
}
.micons-folder-remove:before {
  content: "\e966";
}
.micons-menu-circle:before {
  content: "\e967";
}
.micons-shopping-cart:before {
  content: "\e968";
}
.micons-dollar:before {
  content: "\e969";
}
.micons-meh:before {
  content: "\e96a";
}
.micons-pound:before {
  content: "\e96b";
}
.micons-sad:before {
  content: "\e96c";
}
.micons-smile:before {
  content: "\e96d";
}
.micons-form:before {
  content: "\e96e";
}
.micons-invoice:before {
  content: "\e96f";
}
.micons-lego-block:before {
  content: "\e970";
}
.micons-power-on:before {
  content: "\e971";
}
.micons-user-add:before {
  content: "\e972";
}
.micons-user-remove:before {
  content: "\e973";
}
.micons-phone:before {
  content: "\e974";
}
.micons-soap:before {
  content: "\e975";
}
.micons-styling-tools:before {
  content: "\e976";
}
.micons-zoom-in:before {
  content: "\e977";
}
.micons-zoom-out:before {
  content: "\e978";
}
.micons-badge:before {
  content: "\e979";
}
.micons-menu-lines:before {
  content: "\e97a";
}
.micons-plug:before {
  content: "\e97b";
}
.micons-trophy:before {
  content: "\e97c";
}
.micons-wallet:before {
  content: "\e97d";
}
.micons-bank-note:before {
  content: "\e97e";
}
.micons-earth:before {
  content: "\e97f";
}
.micons-layers:before {
  content: "\e980";
}
.micons-star:before {
  content: "\e981";
}
.micons-tag:before {
  content: "\e982";
}
.micons-card:before {
  content: "\e983";
}
.micons-paper-plane:before {
  content: "\e984";
}
.micons-skull:before {
  content: "\e985";
}
.micons-wand:before {
  content: "\e986";
}
.micons-wi-fi:before {
  content: "\e987";
}
.micons-basket-ball:before {
  content: "\e988";
}
.micons-brush:before {
  content: "\e989";
}
.micons-drawer:before {
  content: "\e98a";
}
.micons-paint-brush:before {
  content: "\e98b";
}
.micons-pen:before {
  content: "\e98c";
}
.micons-drop:before {
  content: "\e98d";
}
.micons-fire:before {
  content: "\e98e";
}
.micons-leaf:before {
  content: "\e98f";
}
.micons-notes:before {
  content: "\e990";
}
.micons-pencil:before {
  content: "\e991";
}
.micons-thunderbolt:before {
  content: "\e992";
}
.micons-alt:before {
  content: "\e993";
}
.micons-cmd:before {
  content: "\e994";
}
.micons-heart:before {
  content: "\e995";
}
.micons-music:before {
  content: "\e996";
}
.micons-terminal:before {
  content: "\e997";
}
.micons-collapse:before {
  content: "\e998";
}
.micons-expand:before {
  content: "\e999";
}
.micons-menu-dots:before {
  content: "\e99a";
}
.micons-move-diagonal:before {
  content: "\e99b";
}
.micons-move:before {
  content: "\e99c";
}
.micons-pencil-ruler:before {
  content: "\e99d";
}
.micons-arrow-right:before {
  content: "\e99e";
}
.micons-arrow-up:before {
  content: "\e99f";
}
.micons-corner-arrow:before {
  content: "\e9a0";
}
.micons-move-horizontal:before {
  content: "\e9a1";
}
.micons-move-vertical:before {
  content: "\e9a2";
}
.micons-attachment:before {
  content: "\e9a3";
}
.micons-recycle:before {
  content: "\e9a4";
}
.micons-refresh:before {
  content: "\e9a5";
}
.micons-volume-down:before {
  content: "\e9a6";
}
.micons-volume-mute:before {
  content: "\e9a7";
}
.micons-group:before {
  content: "\e9a8";
}
.micons-selection:before {
  content: "\e9a9";
}
.micons-speed-o-meter:before {
  content: "\e9aa";
}
.micons-thumbs-down:before {
  content: "\e9ab";
}
.micons-thumbs-up:before {
  content: "\e9ac";
}
.micons-volume-up:before {
  content: "\e9ad";
}
.micons-camera:before {
  content: "\e9ae";
}
.micons-key:before {
  content: "\e9af";
}
.micons-list:before {
  content: "\e9b0";
}
.micons-printer:before {
  content: "\e9b1";
}
.micons-video-camera:before {
  content: "\e9b2";
}
.micons-bed:before {
  content: "\e9b3";
}
.micons-bluetooth:before {
  content: "\e9b4";
}
.micons-fork-knife:before {
  content: "\e9b5";
}
.micons-id:before {
  content: "\e9b6";
}
.micons-padlock-open:before {
  content: "\e9b7";
}
.micons-padlock:before {
  content: "\e9b8";
}
.micons-cloud:before {
  content: "\e9b9";
}
.micons-download:before {
  content: "\e9ba";
}
.micons-scales:before {
  content: "\e9bb";
}
.micons-upload:before {
  content: "\e9bc";
}
.micons-window:before {
  content: "\e9bd";
}
.micons-clock:before {
  content: "\e9be";
}
.micons-comment:before {
  content: "\e9bf";
}
.micons-external:before {
  content: "\e9c0";
}
.micons-minus:before {
  content: "\e9c1";
}
.micons-plus:before {
  content: "\e9c2";
}
.micons-yes:before {
  content: "\e9c3";
}
.micons-block:before {
  content: "\e9c4";
}
.micons-desktop:before {
  content: "\e9c5";
}
.micons-eye:before {
  content: "\e9c6";
}
.micons-microphone:before {
  content: "\e9c7";
}
.micons-no:before {
  content: "\e9c8";
}
.micons-bell:before {
  content: "\e9c9";
}
.micons-calendar:before {
  content: "\e9ca";
}
.micons-edit:before {
  content: "\e9cb";
}
.micons-mobile:before {
  content: "\e9cc";
}
.micons-search:before {
  content: "\e9cd";
}
.micons-bar-chart:before {
  content: "\e9ce";
}
.micons-bin:before {
  content: "\e9cf";
}
.micons-filter:before {
  content: "\e9d0";
}
.micons-image:before {
  content: "\e9d1";
}
.micons-pie-chart:before {
  content: "\e9d2";
}
.micons-video:before {
  content: "\e9d3";
}
.micons-file:before {
  content: "\e9d4";
}
.micons-files:before {
  content: "\e9d5";
}
.micons-first-aid:before {
  content: "\e9d6";
}
.micons-pin-2:before {
  content: "\e9d7";
}
.micons-pin:before {
  content: "\e9d8";
}
.micons-suitcase:before {
  content: "\e9d9";
}
.micons-brightness:before {
  content: "\e9da";
}
.micons-folder:before {
  content: "\e9db";
}
.micons-grid:before {
  content: "\e9dc";
}
.micons-headset:before {
  content: "\e9dd";
}
.micons-new-file:before {
  content: "\e9de";
}
.micons-contrast:before {
  content: "\e9df";
}
.micons-mail-open:before {
  content: "\e9e0";
}
.micons-mail:before {
  content: "\e9e1";
}
.micons-map:before {
  content: "\e9e2";
}
.micons-home:before {
  content: "\e9e3";
}
.micons-settings:before {
  content: "\e9e4";
}
.micons-user:before {
  content: "\e9e5";
}
.micons-users:before {
  content: "\e9e6";
}

